.randomTextWrapper {
    letter-spacing: 1px;
    color: white;
    margin-bottom: 5%;
  }

 .randomTextWrapper h2 {
  margin-bottom: 0;
 }


  .random-word {
    display: inline-block;
    text-transform: uppercase;
    color: #bbaadd;
    letter-spacing: 3px;
    width: auto;
    animation: slidedown 4s infinite;
    -webkit-animation: slidedown 4s infinite;
    -moz-animation: slidedown 4s infinite;
  }
  
  @keyframes slidedown {
    0% {
      opacity: 50;
    }
  
    5% {
      opacity: 0;
      transform: translateY(0.5em);
    }
  
    7% {
      transform: translateY(-1em);
    }
  
    10% {
      opacity: 0;
    }
  
    20% {
      transform: translateY(0);
      opacity: 100;
    }
  }

  
  