
/* Footer styles */
.footerWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 10vh;
    margin: 0 10%;
    color: white;
  }
  
  .footerWrapper a {
    color: white;
    text-decoration: none;
  }
  
