
/* Footer styles */
.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 10%;
    color: white;
  }
  
  .footerWrapper a {
    color: white;
    text-decoration: none;
  }
  
  .footerWrapper p {
    margin: 0;
    padding: 0;
  }
  