


body {
    padding: 0;
    margin: 0;
}

:root {
    --bluebg : #030E1F;
    --beigebg : #836353;

}

.headerWrapper {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    height: 10vh;
    position: fixed;
    width: 100%;
    z-index: 900;
}

.logo {
    height: 80%;
    object-fit: contain;
}
/* burger menu */ 




/*Burger-menu styling and active - nonactive classes */

.hamburger {
    cursor: pointer;  }

 
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger-label {
    margin: 0 30px;
  }
  
  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  .nav-menu {
  
    position: fixed;
    right: -100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0%;
    transition: 0.3s;
    background: rgba(32, 32, 32, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: -10;

    
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  .nav-item{
    text-align: center;
    font-size: 5rem;
    color: white;
  }
  .nav-item a {
    color: white;

  }

  
  .nav-menu.active {
    right: 0;

  }

  .nav-item {
    position: relative;
    display: inline-block; /* Ensures the underline only covers the link's text */
    padding-bottom: 5px; /* Adjust this value to control the underline's thickness */
    transition: border-bottom 0.3s ease; /* Smooth transition for the underline */
  }
  
  .nav-item:hover {
    border-bottom: 2px solid #ffc506; /* Change the color and thickness as needed */
  }
  
  
  /*END OF BURGER-MENU STYLING */





/* end of burgermenu */ 


/* Styling of main content on landing page */ 

.mainWrapper {
    background: rgb(150,112,91);
    background: linear-gradient(180deg, rgba(150,112,91,1) 5%, rgba(99,78,70,1) 22%, rgba(3,14,31,1) 59%);
    display: flex;
    flex-direction: column;
    height: 100%;

}

.svgHeaderWrapper {
  height: fit-content;
}


.techStack {
  font-size: clamp(2rem, -0.0488rem + 2.4390vw, 3rem);    
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.2rem, 1.282vw + 0.215rem, 1.2rem);
    margin: 40px auto;
    color: white;
}

.techHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 300;
}
.techIconWrapper {
  display: flex;
  gap: clamp(1rem, 2.523rem + 3.5897vw, 7.5rem);
}


.techStackIcon {
  font-size: clamp(1rem, 2.5rem + 1.9512vw, 4.5rem);
}
.techHr {
  height: 50px;

    margin: 0;
    padding: 0;
    border: 1px solid rgb(255, 255, 255);
}

.textToPictureWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    position: relative;
    
}
.textWrapperMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}


.textWrapperMain h3 {
  font-size: clamp(1.5rem, 0.6610rem + 1.9512vw, 3rem);
   color: white;
   
}
.mobileHeader {
    display: none;
}

.mainHeaderDesktop,
.mainHeaderMobile
 {
  font-size: clamp(2rem, 2rem + 2.9268vw, 5rem);
     color: rgb(255, 255, 255);
    
    @supports (-webkit-text-stroke: 4px white) {
        color: transparent;
        -webkit-text-stroke: 2px  rgb(255, 255, 255);
    }
    padding: 0;
    margin: 0;
}
.mainHeaderMobile {
  display: none;
}

.headerContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    left: 10%;
    gap: 20px;

  }

  .soMe {
    position: absolute;
    top: 100%; /* Position below the h3 element */
    left: 5%; /* Align with the start of the h3 element */
    width: 100%;
    display: flex;
    gap: 30px;
    font-size: 2rem;
  }
  

.soMe a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Default styles for GitHub and LinkedIn icons */
.github {
    color: white;
    font-size: 2rem; /* Set the default font size (adjust as needed) */
    transition: color 0.3s, font-size 0.3s; /* Add a smooth transition effect for color and font-size */
  }
  
  .linkedin {
    color: white;
    font-size: 2rem; /* Set the default font size (adjust as needed) */
    transition: color 0.3s, font-size 0.3s; /* Add a smooth transition effect for color and font-size */
  }
  
  /* Styles for GitHub icon when hovered */
  .github:hover {
    color: #171515; /* Change to the specified color code */
    font-size: 2.5rem; /* Increase the font size on hover (adjust as needed) */
  }
  
  /* Styles for LinkedIn icon when hovered */
  .linkedin:hover {
    color: #0A66C2; /* Change to the specified color code */
    font-size: 2.5rem; /* Increase the font size on hover (adjust as needed) */
  }
  
  

/* About Me styles */





/* YourComponent.module.css */
.aboutMeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 40%;
  height: 70vh; 
width: auto;
}

.aboutMeWrapper p {

  text-align: center;
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  width: 80%;
}



/* Style end Main page */ 



ul {
    margin: 0;
    padding: 0
}

.project-label {
    display: block; /* Change from 'none' to 'block' */
    position: absolute;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.project-label h6 {
    font-size: .5em;
    font-weight: 600;
    letter-spacing: .2em;
    display: inline-block; /* Add this line */
}

.portfolio-mask span {
    display: inline-block; /* Add this line */
}



a {
    outline: 0;
    color: #253069;
    text-decoration: none
}

ul li {
    list-style-type: none
}

.projectPicture {
    display: none;
}

  
  /* Override display for active images */
 .projectPicture.entered {  
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    z-index: 100;
  }
  





  .portfolio-wrapper {
    box-sizing: border-box;
    width: 100%; /* Adjust as needed */
    padding: 9% 12%;
    margin: 0;
    height: 100%;
    position: relative;
}


.portfolio-wrapper li {
  height: 150px;
  font-size: clamp(4rem, 3.3077rem + 3.0769vw, 7rem); 
   position: relative;
}
/* Kontrast masken */

.portfolio-wrapper:before {
    content: "";
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: var(--bluebg);
    z-index: -1
}

.portfolio-wrapper.selected:before {
    left: 0;
    
}

.portfolio-wrapper .fake-link:before {
    content: attr(data-mask-link)
}



.portfolio-wrapper a {
    font-family: "Montserrat", "Open Sans", sans-serif;
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 1.25em;
    color: var(--bluebg);
    font-weight: 800;

  }
  



    .portfolio-wrapper .portfolio-mask-wrap {
        position: absolute;
        overflow: hidden;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 85px;
   
    }
    


.portfolio-wrapper .portfolio-mask {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 85px;
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1)
}

.portfolio-wrapper .portfolio-mask>span {
    position: absolute;
    color: #ffffff;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    font-weight: 800
}


.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%);
}

.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask>span {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}



.portfolio-wrapper.selected .portfolio-item .portfolio-mask {
    transform: translateX(101%);
    -moz-transform: translateX(101%);
    -webkit-transform: translateX(101%);
    -o-transform: translateX(101%);
    -ms-transform: translateX(101%)
}



.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}

.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask>span {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}



.portfolio-wrapper a {
    line-height: 220px
}

.portfolio-wrapper .portfolio-mask,
.portfolio-wrapper .portfolio-mask-wrap,
.portfolio-wrapper .portfolio-mask>span {
    height: 220px
}


/* Contact Me styles */
.backgroundColorWrapper {
    background: rgb(150,112,91);
    background: linear-gradient(0deg, rgba(150,112,91,1) 5%, rgba(99,78,70,1) 22%, rgba(3,14,31,1) 59%);
}


.contactMeWrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid white;
   

}
.contactMeText {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
    gap: 40px;

}


.contactMeText h2,
.contactMeText h3 {
  text-align: center;
  font-size: clamp(2rem, 0.5385rem + 2.0513vw, 3rem);
  margin: 0 auto;
  width: 80%;
  color: white;
}


.contactMeDesktop, 
.contactMeMobile {
  font-size: clamp(3rem, 1.8462rem + 5.1282vw, 8rem);
    margin-top: 20px;
    white-space: nowrap;
}

.contactMeMobile {
  display: none;
}



.contactMeWrapper a {
    display: flex;
    align-items: center;
    white-space: nowrap;
color: white;
font-size: clamp(1rem, 0.5385rem + 2.0513vw, 3rem);padding: 10px;
width: fit-content;
gap: 30px;
position: relative;

}
.contactMeWrapper a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 20px;
    background-color: #18272F;
    bottom: 20px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

.contactMeWrapper a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}





.iconWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

.contactIcons {
    font-size: 3rem;
}


.contactMeImage {
    max-width: 50%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* End of Contact Me styles */



/* Footer styles */
.footerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin: 0 10%;
    color: white;
}

.footerWrapper a {
    color: white;
    text-decoration: none;
}
.footerWrapper p  {
    margin: 0;
    padding: 0;
}

/* End of  Footer */

/* Media query for 400px */

@media screen and (max-width: 650px) {
  /* Main content adjustments */
  .textToPictureWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    
  }

  .svgHeaderWrapper {
    margin-top: 25%;
  }
  

 
  .mainHeaderDesktop {
    display: none;
  }
  .mainHeaderMobile {
    display: block;
  }

  .textWrapperMain {
    display: flex;
    width: 80%;
    text-align: center;
  }
  .headerContainer {
    left: 0;
  }



  .techStack {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .techIconWrapper {
    display: flex;
  }
  .techHr {
    display: none;
  }

/* End of main content adjustments */

  
  .contactMeDesktop {
    display: none;
  }
  .contactMeMobile {
    display: block;
    text-align: center;
    background-color: var(--bluebg);
    height: 100%;
    margin: 0;
    padding: 20px;
    color: white;
  }
  .soMe {
    display: flex;
    align-items: center;
    justify-content: center;;
    left: 0;
  }

}