

.headerWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
   

}
/* burger menu */ 
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}


.menu__icon {
  width: 32px;
  height: 32px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.4s;
  cursor: pointer; 
}

.menu__icon span {
  width: 100%;
  height: 0.25rem;
  border-radius: 0.125rem;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0.5px 2px 0 hsla(0, 0%, 0%, 0.2);
  transition: width 0.4s, transform 0.4s, background-color 0.4s;
}

.menu__icon :nth-child(1) {
  width: 75%;
}

.menu__icon :nth-child(2) {
  width: 50%;
}


.menu__icon.active {
  transform: rotate(-90deg);
}

.menu__icon.active span {
  width: 0.25rem;
  transform: translateX(10px);
  background-color: rgba(247, 14, 2, 0.192);
}

/* Style for menu links */

.menu-links {
  display: none;
}

.navlinks.active .menu-links {
  
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  background-color: grey;
  
}

/* end of burgermenu */ 



.navlinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
}

/* Styling of main content on landing page */ 

.mainWrapper {
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 4%, rgba(211,187,167,1) 40%, rgba(136,70,16,1) 77%);
height: 100vh; 
}


.profilePicture {
    height: 100px;
}

.techStack {
    font-size: 2rem;
    height: 40px;
    width: fit-content;
    border: 1px solid black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0 auto;
}
.techHeader {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.textToPictureWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
}
.textWrapperMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.textWrapperMain h2 {
    font-size: 3.5rem;
    padding: 0;
    margin: 0;
}
.textWrapperMain h3 {
    font-size: 2rem;
    width: 60%;
}

.soMe  {
    display: flex;
    gap: 10px;
    font-size: 2rem;
}
.soMe a {
    color: black;
    text-decoration: none;
}




/* Style end Main page */ 

.portfolio-wrapper {
    overflow: hidden;
    width: 76%;
    padding: 12% 12%;
    margin: 0;
    height: 100%;
    position: relative
}

ul {
    margin: 0;
    padding: 0
}

.project-label {
    display: block; /* Change from 'none' to 'block' */
    position: absolute;
    -ms-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 90px;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.project-label h6 {
    font-size: .5em;
    font-weight: 600;
    letter-spacing: .2em;
    display: inline-block; /* Add this line */
}

.portfolio-mask span {
    display: inline-block; /* Add this line */
}

/* Rest of your CSS */



a {
    outline: 0;
    color: #253069;
    text-decoration: none
}

ul li {
    list-style-type: none
}








.portfolio-wrapper {
    overflow: hidden;
    width: 76%;
    padding: 12% 12%;
    margin: 0;
    height: 100%;
    position: relative
}

.portfolio-wrapper li {
    position: relative
}

/* Kontrast masken */

.portfolio-wrapper:before {
    content: "";
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: #884610;
    z-index: -1
}

.portfolio-wrapper.selected:before {
    left: 0
}

.portfolio-wrapper .fake-link:before {
    content: attr(data-mask-link)
}

.portfolio-wrapper a {
    transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    font-family: "Montserrat", "Open Sans", sans-serif;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    display: block;
    width: 100%;
    overflow: hidden;
    line-height: 1.25em;
    color: rgba(37, 48, 105, 0.15);
    font-weight: 800
}



.portfolio-wrapper .portfolio-mask-wrap {
    position: absolute;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    height: 85px;
    transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 350ms cubic-bezier(0.77, 0, 0.175, 1)
}

.portfolio-wrapper .portfolio-mask {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 85px;
    transform: translateX(50%);
    -moz-transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -o-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1)
}

.portfolio-wrapper .portfolio-mask>span {
    position: absolute;
    color: #fff;
    transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
    display: inline-block;
    font-weight: 800
}


.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}

.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask>span {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}



.portfolio-wrapper.selected .portfolio-item .portfolio-mask {
    transform: translateX(101%);
    -moz-transform: translateX(101%);
    -webkit-transform: translateX(101%);
    -o-transform: translateX(101%);
    -ms-transform: translateX(101%)
}



.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}

.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask>span {
    transform: translateX(0%);
    -moz-transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -o-transform: translateX(0%);
    -ms-transform: translateX(0%)
}


.portfolio-wrapper li {
    height: 220px;
    font-size: 6.666em
}

.portfolio-wrapper a {
    line-height: 220px
}

.portfolio-wrapper .portfolio-mask,
.portfolio-wrapper .portfolio-mask-wrap,
.portfolio-wrapper .portfolio-mask>span {
    height: 220px
}