* {
  text-decoration: none;
  scroll-behavior: smooth;

} 

.arrow-wrapper {
  position: relative;
}

.chevronLeft {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
  color: rgb(255, 255, 255);
  z-index: 100;
  cursor: pointer;
  transition: transform 0.3s ease;
}
p  {
  font-family: 'Abhaya Libre', serif;  
   }


body {
  padding: 0;
  margin: 0;
}

:root {
  --bluebg: #030E1F;
  --beigebg: #836353;

}


.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: white;
  height: 10vh;
  position: fixed;
  width: 100%;
  z-index: 900;
}
.headerWrapper a {
  height: 100%;
}

.logo {
  height: 80%;
  object-fit: contain;
}

/* burger menu */




/*Burger-menu styling and active - nonactive classes */

.hamburger {
  cursor: pointer;
}



.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger-label {
  margin: 0 30px;
}

.hamburger input:checked+svg {
  transform: rotate(-45deg);
}

.hamburger input:checked+svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}

.nav-menu {

  position: fixed;
  right: -100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0%;
  transition: 0.3s;
  background: rgba(32, 32, 32, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: -10;


}

.nav-menu ul {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.nav-item {
  text-align: center;
  font-size: clamp(3rem, 2.5385rem + 2.0513vw, 5rem);
  color: white;
}

.nav-item a {
  color: white;

}


.nav-menu.active {
  right: 0;

}

.nav-item {
  position: relative;
  display: inline-block;

}


.nav-item a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: #e6e6e6;
  left: 0;
  bottom: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .4s ease-in-out;
}

.nav-item a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}






/*END OF BURGER-MENU STYLING */





/* end of burgermenu */


/* Styling of main content on landing page */

.mainWrapper {
  background: rgb(150, 112, 91);
  background: linear-gradient(180deg, rgba(150, 112, 91, 1) 5%, rgba(99, 78, 70, 1) 22%, rgba(3, 14, 31, 1) 59%);
  display: flex;
  flex-direction: column;
  height: 100%;

}

.svgHeaderWrapper {
  height: fit-content;
}


.techStack {
  font-size: clamp(2rem, -0.0488rem + 2.4390vw, 3rem);
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(0.2rem, 1.282vw + 0.215rem, 1.2rem);
  color: white;
}

.techHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 300;
}

.techIconWrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  flex-wrap: wrap;
}


.techStackIcon {
  height: 50px;
  transition: transform 0.3s ease;
}


.techStackIcon:hover {
  transform: translateY(-7px);
}

.techHr {
  height: 50px;

  margin: 0;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
}

.textToPictureWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 50px;
  position: relative;

}

.textWrapperMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}


.textWrapperMain h3 {
  font-size: clamp(1.5rem, 0.6610rem + 1.9512vw, 3rem);
  color: white;

}

.mobileHeader {
  display: none;
}

.mainHeaderDesktop,
.mainHeaderMobile {
  font-size: clamp(2rem, 2rem + 2.9268vw, 5rem);
  color: rgb(255, 255, 255);

  @supports (-webkit-text-stroke: 4px white) {
    color: transparent;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
  }

  padding: 0;
  margin: 0;
}

.mainHeaderMobile {
  display: none;
}

.headerContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 10%;
  gap: 20px;

}

.soMe {
  /* position: absolute;
  top: 100%;
  left: 5%;
  */
  width: 100%;
  display: flex;
  gap: 30px;
  font-size: 2rem;
}


.soMe a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Default styles for GitHub and LinkedIn icons */
.github {
  color: white;
  font-size: 2rem;
  /* Set the default font size (adjust as needed) */
  transition: color 0.3s, font-size 0.3s;
  /* Add a smooth transition effect for color and font-size */
}

.linkedin {
  color: white;
  font-size: 2rem;
  /* Set the default font size (adjust as needed) */
  transition: color 0.3s, font-size 0.3s;
  /* Add a smooth transition effect for color and font-size */
}

/* Styles for GitHub icon when hovered */
.github:hover {
  color: #171515;
  /* Change to the specified color code */
  font-size: 2.5rem;
  /* Increase the font size on hover (adjust as needed) */
}

/* Styles for LinkedIn icon when hovered */
.linkedin:hover {
  color: #0A66C2;
  /* Change to the specified color code */
  font-size: 2.5rem;
  /* Increase the font size on hover (adjust as needed) */
}



/* About Me styles */

/*===============================================
=          Randomtextwrapper           =
===============================================*/

.randomTextWrapper {
  margin: 60px 0;
}



/* YourComponent.module.css */
.aboutMeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 20% 40%;
  width: auto;
  padding: 60px 0;

}
.aboutMeWrapper h3 {
  color: white;
  font-size: clamp(2rem, 1.5385rem + 2.0513vw, 4rem);
  padding: 0;
 margin: 0;
}

.aboutMeWrapper p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: clamp(.7rem, 0.5385rem + 2.0513vw, 3rem);
   color: rgb(255, 255, 255);
  width: 80%;
  font-weight: 500; 
  max-height: 100%;
  letter-spacing: 1.2px;  
}



/* Style end Main page */



ul {
  margin: 0;
  padding: 0
}

.project-label {
  display: block;
  /* Change from 'none' to 'block' */
  position: absolute;
  -ms-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  top: 90px;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.project-label h6 {
  font-size: .5em;
  font-weight: 600;
  letter-spacing: .2em;
  display: inline-block;
  /* Add this line */
}
.portfolio-mask {
  white-space: nowrap;
}

.portfolio-mask span {
  display: inline-block;
  /* Add this line */
}



a {
  outline: 0;
  color: #253069;
  text-decoration: none
}

ul li {
  list-style-type: none
}

.projectPicture {
  display: none;
}

/* Override display for active images */
.projectPicture.entered {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  z-index: 100;
}



.portfolio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  /* Adjust as needed */
  margin: 0;
  height: fit-content;
  position: relative;

}

.label-mask-wrap h6 {
  font-size: 2rem;

}

.portfolio {
  padding: 80px 0;
}

.portfolio-picture {
  position: absolute;
  object-fit: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  z-index: -1;
  }

  .capo.show,
  .webdoc.show,
  .vinhandel.show,
  .lendr.show,
  .jumbo.show {
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out .2s;
  }



.portfolio-wrapper li {
  height: 200px;
  font-size: clamp(4rem, 3.3077rem + 3.0769vw, 7rem);
  position: relative;
  top: 40px;
}
.portfolio-item img {
  display: none;
}

/* Kontrast masken */

.portfolio-wrapper:before {
  content: "";
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  bottom: 0;
  background-color: var(--bluebg);
  z-index: -1
}

.portfolio-wrapper.selected:before {
  left: 0;

}

.portfolio-wrapper .fake-link:before {
  content: attr(data-mask-link)

}



.portfolio-wrapper a {
  font-family: "Montserrat", "Open Sans", sans-serif;
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: 1.25em;
  color: var(--bluebg);
  font-weight: 800;

}




.portfolio-wrapper .portfolio-mask-wrap {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 85px;

}



.portfolio-wrapper .portfolio-mask {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 85px;
  transform: translateX(50%);
  -moz-transform: translateX(50%);
  -webkit-transform: translateX(50%);
  -o-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1)
}

.portfolio-wrapper .portfolio-mask>span {
  position: absolute;
  color: #ffffff;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -moz-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 400ms cubic-bezier(0.77, 0, 0.175, 1);
  display: inline-block;
  font-weight: 800
}


.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%);
}

.portfolio-wrapper .portfolio.entered .project-label .portfolio-mask>span {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%)
}



.portfolio-wrapper.selected .portfolio-item .portfolio-mask {
  transform: translateX(101%);
  -moz-transform: translateX(101%);
  -webkit-transform: translateX(101%);
  -o-transform: translateX(101%);
  -ms-transform: translateX(101%)
}



.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%)
}

.portfolio-wrapper.selected .portfolio-item.active .portfolio-mask>span {
  transform: translateX(0%);
  -moz-transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -o-transform: translateX(0%);
  -ms-transform: translateX(0%)
}



.portfolio-wrapper a {
  line-height: 220px
}

.portfolio-wrapper .portfolio-mask,
.portfolio-wrapper .portfolio-mask-wrap,
.portfolio-wrapper .portfolio-mask>span {
  height: 220px
}


/* Contact Me styles */
.backgroundColorWrapper {
  background: rgb(150, 112, 91);
  background: linear-gradient(0deg, rgba(150, 112, 91, 1) 5%, rgba(99, 78, 70, 1) 22%, rgba(3, 14, 31, 1) 59%);
}


.contactMeWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid white;


}

.contactMeText {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 50%;
  gap: 40px;

}


.contactMeText h2,
.contactMeBreadText {
  text-align: center;
  font-size: clamp(1.6rem, 0.5385rem + 2.0513vw, 3rem);
  margin: 0 auto;
  width: 80%;
  color: rgb(255, 255, 255);
}


.contactMeText h2 {
  font-size: clamp(3rem, 2.0769rem + 4.1026vw, 7rem);
    margin: 20px;
  white-space: nowrap;
  width: 100%;
}

.contactMeMobile {
  display: none;
  font-size: clamp(3rem, 1.8462rem + 5.1282vw, 8rem);

}
.contactMeImageWrapper {
  width: 50%;
 
}

.contactMeImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



.contactLink {
  display: flex;
  align-items: center;
  white-space: nowrap;
  color: white;
  font-size: clamp(.6rem, 0.5385rem + 2.0513vw, 3rem);
  padding: 10px;
  width: fit-content;
  gap: 20px;
  position: relative;

}

.contactLink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 20px;
  background-color: #18272F;
  bottom: 20px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.contactLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}





.iconWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}

.contactIcons {
  font-size: clamp(1.5rem, 1.6538rem + 1.5385vw, 3.5rem);
}

.cvButton {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 1000ms;
  font-size: clamp(0.9375rem, 0.7933rem + 0.641vw, 1.5625rem);
  position: relative;
  overflow: hidden;
  outline: 2px solid #ffffff;
  width: fit-content;
  text-align: center;
  margin: 10% auto;
}

.cvButton:hover {
  color: #424242;
  transform: scale(1.1);
  outline: 2px solid #313131;
  box-shadow: 4px 5px 17px -4px #5f5f5f;
}

.cvButton::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ffffff;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.cvButton:hover::before {
  width: 250%;
}





/* End of Contact Me styles */



/* Media query for 400px */

@media screen and (max-width: 650px) {

  /* Main content adjustments */
  .textToPictureWrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

  }

  .svgHeaderWrapper {
    margin-top: 25%;
  }



  .mainHeaderDesktop {
    display: none;
  }

  .mainHeaderMobile {
    display: block;
    text-align: center;
  }

  .textWrapperMain {
    display: flex;
    width: 80%;
    text-align: center;
  }

  .headerContainer {
    left: 0;
  }



  .techStack {
    display: flex;
    flex-direction: column;
    padding: 0;
  }



  .iconWrapper {
    width: 50%;
  }

  .techHr {
    display: none;
  }

  /* End of main content adjustments */

  .aboutMeWrapper p {
    line-height: 2rem;
  }







  .contactMeDesktop {
    display: none;
  }

  .contactMeMobile {
    display: block;
    text-align: center;
    background-color: var(--bluebg);
    height: 100%;
    margin: 0;
    padding: 40px 20px;
    color: white;
  }

  .soMe {
    display: flex;
    justify-content: center;
    left: 0;
  
  }

  .contactMeWrapper {
    display: flex;
    flex-direction: column-reverse;
 
    gap: 40px
  }

  .contactMeImageWrapper ,
  .contactMeText {
    width: 100%;
 
  }
  


  .portfolio-wrapper {
    height: 100%;
  }

  .portfolio-item img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
  }
  .capo ,
  .webdoc, 
  .vinhandel,
  .lendr,
  .jumbo {
    filter: blur(2px); 
  }


  .vinhandel, .jumbo, .lendr  {
    filter: brightness(0.8) blur(2px);  
  }
  
  .portfolio-wrapper a {
    color: white;
  }
  .portfolio-wrapper:before {
    background-color: transparent;
  
  }
  .portfolio-wrapper .portfolio-mask {
    width: auto;
  }
}
